.teambox{
  
    
    
     text-align: center;
     padding: 30px;
     background-color: white;
     background: #FFFFFF;
     box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
     border-radius: 4px;
     button{
         border: none;
        background-color: #3A42FF;
        width: 131px;
        height: 48px;
        left: 654px;
        top: 1475px;
        cursor: pointer;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;

text-align: center;

color: #FFFFFF;
     }
 }
 .teambox img{
     width: 50px;
 }
 .teambox h2{
     font-family: Montserrat;
 font-style: normal;
 font-weight: bold;
 }
 .teambox p{
     color: #656565;
     font-family: Montserrat;
 font-style: normal;
 font-weight: 500;
 }